{% extends "base.html" %}


{% block app_content %}
    <main class="mdl-layout__content">
        <div class="mdl-layout-spacer"></div>
        <section class="section--center mdl-grid mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ title }}</h2>
            </div>
            <div class="mdl-card__supporting-text">Upload ID: {{ form.upload_id }} MD5:
                <a href="{{  url_for('unum.unum_file_download', md5_hash=table_dict.md5) }}">{{ table_dict.md5 }}</a>
            </div>
            <div class="mdl-card__actions">
                <form class="form" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {% with form_object=description, form_object_name="description", form_object_rows=1, form_object_label="Description", form_object_value=form.description %}
                        {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    {% with iterable_thing=classification, dropdown_topic="classification", dropdown_label="Classification", form_object_value=form.data.classification, dropdown_topic_set="True" %}
                        {% include "subtemplates/_dropdown_list.html" %}
                    {% endwith %}
                    {% with iterable_thing=groups_access, dropdown_topic="groups_access", dropdown_label="Group Access", form_object_value=form.group_access,  dropdown_topic_set="True" %}
                        {% include "subtemplates/_dropdown_list.html" %}
                    {% endwith %}
                    <div class="mdl-layout-spacer"></div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            value=data-val.value>
                        Save
                    </button>
                </form>
            </div>
        </section>
        <div class="mdl-layout-spacer"></div>
    </main>
    <div class="mdl-layout-spacer"></div>
{% endblock %}