{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>{{ _('UNUM File Search Results') }}</h3>
    {% for post in file_results %}
        {% include '_unum_files.html' %}
    {% endfor %}
    {% if messages %}
        <nav aria-label="...">
            <ul class="pager">
                {% with form_object="prevnextnav", prev_url=prev_url, prev_text="New Files", next_url=next_url,
                    next_text="Old Files" %}
                    {% include "subtemplates/_prev_next_nav.html" %}
                {% endwith %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}